#land-vanilla-body,
#land-speakeasy-body {
    margin: 0 auto;
    text-align: center;
    background-color: #222;
}

#text-deco {
    display: inline-block;
    text-align: center;
    font-family: 'Trebuchet MS';
    text-shadow: 7px 7px 5px rgb(0, 0, 0);
    padding: 0 2em;
    background-color: transparent;
    color: rgb(248, 226, 210)
}

#text-deco h1 {
    font-size: 6em;
    text-align: center;
}

#display-text {
    color: rgb(236, 201, 124);
    font-family: "Lobster";
    font-size: 4em;
    font-style: italic;
}

#text-speakeasy-deco {
    display: inline-block;
    text-align: center;
    font-family: 'Trebuchet MS';
    text-shadow: 7px 7px 5px rgb(0, 0, 0);
    padding: 0 2em;
    background-color: transparent;
    color: rgb(248, 226, 210)
}

#text-speakeasy-deco h1 {
    font-size: 6em;
    text-align: center;
}

#display-speakeasy-text {
    color: rgb(236, 201, 124);
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    font-style: italic;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.navbar {
    background-image: linear-gradient(black, rgb(48, 47, 47), black);
}