{% extends 'base.html' %}
{% load static %}

{% block title %}
Arena
{% endblock %}

{% block content %}
<br>

<div class="d-flex justify-content-center">
    <div class="arena-header">
    <h1 class="arenah1">ROBO VAC BATTLE ARENA</h1>
    </div>
</div>
<br>
<br>
<!-- <h1 class="text-danger text-center">ROBO VAC BATTLE ARENA</h1> -->
<div id="forms">
    <div class="form text-light text-center">
        <h2>Create an Event</h2>
        <form action="{% url 'match_request' %}" method="POST">
            {% csrf_token %}
            <textarea name="bot_name" placeholder="Your Event Name Here" cols="40" rows="1"></textarea>
            <br>
            <textarea name="details" placeholder="Event Details" cols="40" rows="5"></textarea><br>
            <input type="text" name='user_address' id='user_address' placeholder="Enter event address here" size="41"><br><br>
            <input type="submit" class="bg-warning text-dark" name="Submit Request"><br><br>
        </form>
    </div>
</div>
<table id="arena-table" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Owner</th>
            <th scope="col">Match Location</th>
        </tr>
    </thead>
    {% for request in user_requests %}
        <tbody>
          <tr class="table-light">
            <th scope="row"><a href="/event/{{request.id}}">{{request.bot_name}}</a></th>
            <td>{{request.owner}}</td>
            <td>{{request.location}}</td>
          </tr>
        </tbody>
    {% endfor %}
      </table>
{{request.id}}
{% endblock %}