{% extends 'base.html' %}
{% load static %}

{% block title %}
Arena
{% endblock %}

{% block content %}


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-CWd07gsMBS06eKpLCoYO3K2X5Q3xWh0&callback=initMap&libraries=&v=weekly" type="text/javascript"></script>
<script>
    function initMap() {
        geocoder = new google.maps.Geocoder();
        const user_address = document.getElementById('user_address').innerHTML;
        geocoder.geocode({ 'address': user_address }), function (results, status) {
            if (status == 'OK') {
                console.log('results')
                const latLng = results[0].geometry.location;
                map = new google.maps.Map(document.getElementById('map'), {
                    center: latLng,
                    zoom: 8,
                });
                const marker = new google.maps.Marker({ position: location, map: map });
            } else {
                alert("ERROR " + status);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: location,
                    zoom: 8,
                });
            }
        }
    }
</script>

<style type="text/css">
    #map {
        height: 200px;
        width: 400px;
    }
</style> -->
<h1 class="text-danger text-center">ROBO VAC BATTLE ARENA</h1>
<div id="forms">
    <div class="form text-light text-center">
        <h2>Create an Event</h2>
        <form action="{% url 'match_request' %}" method="POST">
            {% csrf_token %}
            <textarea name="bot_name" placeholder="Your Event Name Here" cols="40" rows="1"></textarea>
            <br>
            <textarea name="details" placeholder="Event Details" cols="40" rows="5"></textarea><br>
            <input type="text" name='user_address' id='user_address' placeholder="Enter event address here"><br><br>
            <input type="submit" class="bg-warning text-dark" name="Submit Request"><br><br>
        </form>
    </div>
</div>
    
{% for request in user_requests %}
    <table id="arena-table" class="table-bordered text-light">
        <th>       
            <td>Event</td>
            <td>Owner</td>
            <td>Location</td>
        </th>
        <tr>
            <td></td>
            <td><a href="/event/{{request.id}}">{{request.bot_name}}</a></td>
            <td>{{request.owner}}</td>
            <td>{{request.location}}</td>
        </tr>
    </table>
{{request.id}}
{% endfor %}
{% endblock %}