{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- favicons for RFC App -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- static css layout -->
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <!-- font for speakeasy page -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/721ef67da7.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>{% block title %} {% endblock %}</title>
</head>

<body class="bg-dark">

  <nav class="navbar navbar-expand-md navbar-light bg-dark">

    {% if request.user.profile.speakeasy %}
    <a class="navbar-brand text-light text-uppercase px-3 font-weight-bold" href="{% url 'landingPage' %}">RoboVac Fight Club</a>
    {% else %}
    <a class="navbar-brand text-light text-uppercase px-3 font-weight-bold" href="{% url 'landingPage' %}">RoboVac Club</a>
    {% endif %}
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link text-light text-uppercase px-3" href="{% url 'forum' %}">User Forum</a>
      </li>
      <li class="nav-item"><a class="nav-link text-light text-uppercase px-3" href="{% url 'techsupport' %}">Tech
          Support</a></li>
      <!-- <li class="nav-item"><a class="nav-link text-light text-uppercase px-3" href="">Buy/Sell/Trade</a></li> -->

      {% if request.user.is_authenticated and request.user.first_name %}
      <li class="nav-item"><a class="nav-link text-light text-uppercase px-3" href="{% url 'rules' %}">Rules</a></li>
      {% if request.user.profile.speakeasy %}
      <li class="nav-item"><a class="nav-link text-light text-uppercase px-3" href="{% url 'arena' %}">Arena</a></li>
      {% endif %}
      <li class="nav-item">
        <span class="nav-link text-light text-uppercase px-3">
          Welcome {{ request.user.first_name }}!  <i class="fas fa-user circle"></i>
        </span>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase px-3" href="{% url 'signout' %}">
          sign out <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase px-3" href="{% url 'signup' %}">
          sign up <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase px-3" href="{% url 'signin' %}">
          sign in <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <!-- { % url '' % } (without spaces on the backets) this will be used in the href section '' will contain the related name per their respective views/url directory -->

  {% block content %}

  {% endblock content %}


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>