{% extends 'base.html' %}
{% load static %}

{% block title %} 
Forum
{% endblock %}

{% block content %}

<div class="container py-1">
    <h1>Roomba User Forum</h1>
    
    
    <div class="col-10 mx-auto my-1">
        <div id="forms">
            {% if request.user.is_authenticated %}
            <div class="form">
                <h2>Create a Post</h2>
                <form id="forum-post" action="{% url 'add_post' %}" method="POST">
                    {% csrf_token %}
                    <textarea name="title" placeholder="Title your post?" cols="30" rows="2"></textarea>
                    <br>
                    <textarea name="body" placeholder="What's your post?" cols="30" rows="10"></textarea> <br>
                    <input type="submit" name="Submit Post">
                </form>
            </div>
            {% endif %}
        </div>
    </di>
</div>

<div class="container py-1">
    <div id="posts" class="col-10 mx-auto my-1">
        {% for post in user_posts %}
        
        <a href="/goto_post/{{post.id}}">
            <h4>{{post.title}}</h4>
        </a>
        <p>{{post.author.first_name}} {{post.author.last_name}} - {{post.created_at}}</p>
        <p>{{post.body}}</p>
        
        
        {% for comment in post.post_comments.all %}
        <h5>user: {{comment.user.first_name}} {{comment.user.last_name}}</h5>
        <p>{{comment.comment}}</p>
        {% endfor %}
        
        {% if request.user.is_authenticated %}
        <h2>add a comment</h2>
        <form class="forum-comment" action="/add_comment_forum" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pid" value="{{post.id}}">
            <textarea name="comment" placeholder="Write your comment here dummy!" cols="30" rows="7"></textarea> <br>
            <input type="submit" name="Post a comment">
        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>


<script>
    $('#forum-post').submit(function(e){
      e.preventDefault()
      $.ajax({
        url: '/add_post',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
          console.log('Comment submitted')
          $('#posts').html(serverResponse)
        }
      })
      $(this).trigger('reset')
    });
    $('body').on('submit', '.forum-comment', function(e){
      e.preventDefault()
      $.ajax({
        url: '/add_comment_forum',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
          console.log('Comment submitted')
          $('#posts').html(serverResponse)
        }
      })
      $(this).trigger('reset')
    });
  </script>

<!-- { % for comment in post.post_comments.all % }
    <p>{{comment.comment}}</p>
    <p>poster: {{comment.poster.first_name}} {{comment.poster.last_name}}</p>
    <a href="/delete/{{comment.id}}">Delete</a>
{ % endfor % } -->

{% endblock %}