{% for post in user_posts %}
<div class="media mb-4 border border-dark rounded p-3 bg-light">
    <div class="media-body">
        <a href="/goto_post/{{post.id}}" class="mt-0">
            <h3 class="text-capitalize font-weight-bold text-danger">{{post.title}}</h3>
        </a>
        <p class="font-weight-light">{{post.author.first_name}} {{post.author.last_name}} - {{post.created_at}}</p>
        <p class="border border-info rounded bg-white p-2">{{post.body}}</p>

        {% if request.user.is_authenticated %}
        <h5>Add a Comment:</h5>
        <form class="forum-comment" action="/add_comment_forum" method="POST">
            {% csrf_token %}
            <input type="hidden" name="pid" value="{{post.id}}">
            <div class="form-group">
                <textarea name="comment" placeholder="Write your comment here dummy!" class="form-control"
                    rows="1"></textarea>
            </div>
            <input type="submit" class="btn btn-warning text-light" name="Post a comment">
        </form>
        {% endif %}

        <div class="mt-4">
            {% for comment in post.post_comments.all %}
            <div class="media mt-1 pl-3 border border-secondary rounded bg-secondary ">
                <div class="media-body p-1 text-light">
                    <h5 class="mt-1 text-white">user: {{comment.user.first_name}} {{comment.user.last_name}}</h5>
                    {{comment.comment}}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endfor %}