{% extends 'base.html' %}
{% load static %}

{% block title %}
Single Post Page
{% endblock %}

{% block content %}

<div class="container py-1">
  <div class="m-2 p-2">
    <div class="col-10 mx-auto my-2 p-3 bg-light rounded">
      <h1 class="product_title text-capitalize font-weight-bold text-danger">{{post.title}}</h1>
      <p class="font-weight-light">{{post.author.first_name}} {{post.author.last_name}} - {{post.created_at}}</p>
      <p class="text-justify product_text border border-info rounded bg-white p-2">{{post.body}}</p>
    </div>
  </div>


  <div class="mt-2">
    <div class="col-10 mx-auto my-1">
      <div id="comments">
        {% for comment in post.post_comments.all %}
        <div class="media mt-1 pl-3 border border-secondary rounded bg-secondary">
          <div class="media-body p-1 text-light">
            <h5>user: {{comment.user.first_name}} {{comment.user.last_name}}</h5>
            <p>{{comment.comment}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>



  <div class="mt-2">
    <div class="col-10 mx-auto my-1">
      <div>
        {% if request.user.is_authenticated %}
        <h2 class="text-light">Add a comment:</h2>
        <form id="SPPcomment" action="/add_comment" method="POST">
          {% csrf_token %}
          <input type="hidden" name="pid" value="{{post.id}}">
          <div class="form-group">
            <textarea name="comment" class="form-control" placeholder="Write your comment here dummy!" rows="1"></textarea>
          </div>
          <input type="submit" class="btn btn-warning text-light" name="Post a comment">
        </form>
        {% else %}
        <h4>Please sign in to comment</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>



<script>
  $('#SPPcomment').submit(function (e) {
    e.preventDefault()
    $.ajax({
      url: '/add_comment',
      method: 'post',
      data: $(this).serialize(),
      success: function (serverResponse) {
        console.log('Comment submitted')
        $('#comments').html(serverResponse)
      }
    })
    $(this).trigger('reset')
  });
</script>


<!-- col-md-6 -->

{% endblock %}