{% extends "base.html" %}
{% load static %}
{% block title %} 
Technical Support
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 class="product_title text-center">
        Technical Support
    </h1>
    <div class="bg-light text-center">
        <p>some text here about tech support</p>
        <br>
        <form method="post">
            {% csrf_token %}
            <p>{{form}}</p>
            <button type="submit" name="button" class="btn btn-secondary">Submit</button>
        </form>
        <br>
    </div>
</div>
{% endblock content %}